<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>area</key>
	<array>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>1</string>
			<key>name</key>
			<string>湖州</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>2</string>
			<key>name</key>
			<string>吴兴区</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>3</string>
			<key>name</key>
			<string>南浔区</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>4</string>
			<key>name</key>
			<string>长兴县</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>5</string>
			<key>name</key>
			<string>安吉县</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>6</string>
			<key>name</key>
			<string>德清县</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>97</string>
			<key>name</key>
			<string>度假区</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>10000</string>
			<key>name</key>
			<string>开发区</string>
		</dict>
	</array>
	<key>condition</key>
	<array>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>0</string>
			<key>name</key>
			<string>营业中</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>1</string>
			<key>name</key>
			<string>未营业</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>2</string>
			<key>name</key>
			<string>未注册</string>
		</dict>
	</array>
	<key>industry</key>
	<array>
		<dict>
			<key>child</key>
			<array>
				<dict>
					<key>child</key>
					<array/>
					<key>index</key>
					<string>0</string>
					<key>name</key>
					<string>AAAAA</string>
				</dict>
				<dict>
					<key>child</key>
					<array/>
					<key>index</key>
					<string>1</string>
					<key>name</key>
					<string>AAAA</string>
				</dict>
				<dict>
					<key>child</key>
					<array/>
					<key>index</key>
					<string>2</string>
					<key>name</key>
					<string>AAA</string>
				</dict>
				<dict>
					<key>child</key>
					<array/>
					<key>index</key>
					<string>3</string>
					<key>name</key>
					<string>AA</string>
				</dict>
				<dict>
					<key>child</key>
					<array/>
					<key>index</key>
					<string>4</string>
					<key>name</key>
					<string>A</string>
				</dict>
				<dict>
					<key>child</key>
					<array/>
					<key>index</key>
					<string>5</string>
					<key>name</key>
					<string>无</string>
				</dict>
			</array>
			<key>index</key>
			<string>0</string>
			<key>name</key>
			<string>景区景点</string>
		</dict>
		<dict>
			<key>child</key>
			<array>
				<dict>
					<key>child</key>
					<array>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>0</string>
							<key>name</key>
							<string>未授权</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>1</string>
							<key>name</key>
							<string>1星</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>2</string>
							<key>name</key>
							<string>2星</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>3</string>
							<key>name</key>
							<string>3星</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>4</string>
							<key>name</key>
							<string>4星</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>5</string>
							<key>name</key>
							<string>5星</string>
						</dict>
					</array>
					<key>index</key>
					<string>0</string>
					<key>name</key>
					<string>星级酒店</string>
				</dict>
				<dict>
					<key>child</key>
					<array>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>0</string>
							<key>name</key>
							<string>金鼎</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>1</string>
							<key>name</key>
							<string>银鼎</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>2</string>
							<key>name</key>
							<string>其他</string>
						</dict>
					</array>
					<key>index</key>
					<string>1</string>
					<key>name</key>
					<string>主题酒店</string>
				</dict>
				<dict>
					<key>child</key>
					<array>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>0</string>
							<key>name</key>
							<string>金树枝</string>
						</dict>
						<dict>
							<key>child</key>
							<array/>
							<key>index</key>
							<string>1</string>
							<key>name</key>
							<string>银树枝</string>
						</dict>
					</array>
					<key>index</key>
					<string>2</string>
					<key>name</key>
					<string>绿色酒店</string>
				</dict>
			</array>
			<key>index</key>
			<string>1</string>
			<key>name</key>
			<string>酒店</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>2</string>
			<key>name</key>
			<string>旅行社</string>
		</dict>
		<dict>
			<key>child</key>
			<array/>
			<key>index</key>
			<string>3</string>
			<key>name</key>
			<string>购物广场</string>
		</dict>
	</array>
</dict>
</plist>
